<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="buildnlive.com.buildem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        tools:ignore="InnerclassSeparator"
        android:name="buildnlive.com.buildem.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_buildnlive_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_buildnlive_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="buildnlive.com.buildem.activities.HomeActivity"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="buildnlive.com.buildem.MarkAttendance.MarkAttendance" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
        <activity android:name="buildnlive.com.buildem.Inventory.AddItem" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.IssueItem.IssuedItems" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.RequestItem.RequestItems" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.WorkProgress.WorkProgress" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
        <activity android:name="buildnlive.com.buildem.WorkProgress.DailyWorkProgressActivities" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.PurchaseOrder.PurchaseOrder" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.IndentItem.IndentItems" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.LocalPurchaseAndPayment.LocalPurchase" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.LabourReport.LabourActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.LoginAndReset.ResetActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>


        <activity
            android:name="buildnlive.com.buildem.activities.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity android:name="buildnlive.com.buildem.activities.PreviewImage" />
        <activity android:name=".LoginAndReset.LoginActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <!--<activity android:name="buildnlive.com.buildem.activities.PurchaseOrderListing" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="buildnlive.com.buildem.activities.Main2Activity" />
        <activity android:name="buildnlive.com.buildem.LabourReport.LabourReportActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.LabourReport.ManageLabour"  android:screenOrientation="portrait" />
        <activity android:name="buildnlive.com.buildem.LabourReport.ManageLabourReport" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <!--<activity android:name="buildnlive.com.buildem.activities.Planning" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>-->
        <activity android:name="buildnlive.com.buildem.activities.BillImageView" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
        <activity android:name="buildnlive.com.buildem.IssueItem.ReturnIssuedItem" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.Inventory.Inventory"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.IssueItem.IssuedItemsForm"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
        <activity android:name="buildnlive.com.buildem.LabourReport.CreateLabour" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
        <activity android:name="buildnlive.com.buildem.WorkProgress.CreateActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
        <activity android:name="buildnlive.com.buildem.LocalPurchaseAndPayment.LocalPurchaseForm" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
        <activity android:name="buildnlive.com.buildem.AssetJobSheet.MachineList"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name="buildnlive.com.buildem.AssetJobSheet.MachineListForm" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
        <activity android:name="buildnlive.com.buildem.MarkAttendance.MarkAttendanceKotlin" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"  />
        <activity android:name=".IssueItem.IssuedItemsFormLoc" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"  />
        <activity android:name=".LocalPurchaseAndPayment.LocalPurchaseFormLoc" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"  />
        <activity android:name=".LocalPurchaseAndPayment.LocalPurchaseKotlin" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
        <activity android:name=".LabourReport.ManageLabourReportLoc" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".PurchaseOrder.PurchaseOrderListingLoc" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".AssetJobSheet.MachineListFormLoc" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".WorkProgress.WorkProgressLoc" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".WorkPlanning.PlanningLoc" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>


        <activity android:name="buildnlive.com.buildem.Notifications.NotificationActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>

        <activity android:name=".Notifications.FcmNotificationActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="NOTIFICATION_BUILDEM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Installations.InstallationDetailsActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".Installations.InstallationActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
        <activity android:name=".Complaints.ComplaintActivity"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".Complaints.ComplaintDetailsActivity"  android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ViewCustomerData" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".Complaints.ReviewComplaint" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait" />
        <activity android:name=".Complaints.AddComplaint" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".AMC.AMCActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".AMC.AMCDetailsActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".AMC.AddAMC" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".AMC.ReviewAMC" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".Services.ServicesActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".Services.ServicesDetailsActivity" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".Services.AddService" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity android:name=".Services.ReviewService" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>


        <service android:name=".Notifications.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false"/>

    </application>

</manifest>